body {
    font-family: Arial, sans-serif;
    transition: color 4s;
    text-align: center;
    padding: 20px;
    margin: 0;
    background-image: url('https://i.pinimg.com/736x/66/de/17/66de17bf34fa7282a259137039116fd2.jpg');
}

.container {
    margin: 0 auto;
    max-width: 1000px;
    padding: 40px;
    border: 2px solid #ccc;
    border-radius: 10px;
    position: relative;
    background-color: LightSalmon;
}

h1 {
    margin-bottom: 20px;
}

.mensaje {
    display: none;
    margin: 30px;
    padding: 30px;
    text-align: justify;
    transition: background-color 3s, color 3s;
}

.mensaje.active {
    display: block;
    transition: background-color 3s, color 3s;
}

#mensaje1.active {
    background-color: lightblue;
    color: black;
    transition: background-color 3s, color 3s;
}

#mensaje2.active {
    background-color: black;
    color: white;
    transition: background-color 3s, color 3s;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 3s, color 3s;
}

.image-container {
    margin-top: 20px;
}

.decorations {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    top: 0;
    left: 0;
    background-image: url(''); /* Imagen del marco de corazones */
    background-size: cover;
    background-repeat: no-repeat;
}

.love-image {
    position: absolute;
    width: 80px;
    height: 80px;
}

.top-left {
    top: 5px;
    left: 5px;
}

.bottom-right {
    bottom: 5px;
    right: 5px;
}

.bottom-left {
    bottom: 5px;
    left: 5px;
}

.top-right {
    top: 5px;
    right: 5px;
}
