body {
    font-family: Arial, sans-serif;
    transition: background-color 0.5s;
}

.mensaje {
    display: none;
}

.mensaje.active {
    display: block;
}

#mensaje1.active {
    display: block;
    background-color: lightyellow;
}

#mensaje2.active {
    display: block;
    background-color: lightblue;
}

.hidden {
    display: none;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button {
    background-color: #4CAF50; /* Verde */
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}
